
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em 'Staatliches', cursive;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: url("../images/provaigen.svg");
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 15%, 0.8);
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

button{
  text-align: center;
  font: 112.5%/1.45em 'Staatliches', cursive;
  background-color: #82828200; /* Green */
  border: solid 2px rgb(208, 208, 208);
  color: rgb(40, 40, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover{
  background-color: rgb(208, 208, 208);;
  cursor: pointer;
}


li{
  list-style: none;
}

form{
  text-align: center;
  border: solid 2px rgb(146, 146, 146);
  display: flex;
  flex-direction: column;
  
  border-radius: 2px;
padding: 1em;



}

.submitBtn{
  margin-bottom: 1em;
}

form button{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
   color: rgb(40, 40, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.specBtn {
  margin-left: auto;
  margin-right: auto;

   color: rgb(40, 40, 40);

  text-align: center;
  text-decoration: none;
display: inline-block;
  font-size: 20px;

}
textarea{
  border: solid 2px rgb(208, 208, 208);
  text-align: left;
  height: 10rem;
  font-size: 1rem;
  resize: none;
  margin-bottom: 1em;
  padding: 30px 40px;
}

textarea:focus{
  border: 2px solid rgb(52, 52, 52);;
  outline: none;
}

.addPostBtn{

  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
 margin-left: 15em;
 margin-right: 15em;

}
input[type=text] {
  font-size:  1rem;
      margin-bottom: 1em;
      overflow: hidden;
      text-align: left;
      height: 2rem;
  padding: 30px 40px;
 
  border: solid 2px rgb(208, 208, 208);
  box-sizing: border-box;
}

input[type=text]:focus{
  border: 2px solid rgb(52, 52, 52);;
  outline: none;
}

.Post{

  text-align: center;
}

.Post ul {
  display: inline-block;
  margin: 0;
  padding: 0;
 
}
.Post h1 {
  margin: 3em;

 
}
.article{
  display: inline-block;
}

.listOfPosts{
  width: 25rem;
  border: solid 2px rgb(108, 108, 108);
  margin: 1em;
}

.listOfPosts  p {

  margin: 1em;
}
.listOfPosts h2 {
 
  margin: 1em;
 
}


nav{
  text-align: center;

 border-bottom: 5px solid rgb(106, 106, 106);
}
 .navBtn{
  margin: 1em;

  font-size: 1.5rem;
}

.listOfPosts button{
  
  text-align: center;

  margin: 1em;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}



.editForm{
  text-align: center;
  border: none;
  display: flex;
  flex-direction: column;
  
  border-radius: 2px;
padding: 1em;
}

.editBtn{
  text-align: center;
  margin:0;
  width: 30%;
  display: inline-block;
}

.editForm .editBtn{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
   color: rgb(40, 40, 40);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
